<div>
	<h2>Section 1</h2>
	<mat-radio-group [(ngModel)]="tempObject.section1.formReason">
		<mat-radio-button value="AddUser">
			Add New User
		</mat-radio-button>
		<mat-radio-button  value="ModUser">
			Modify Existing User (Add Roles)
		</mat-radio-button>
		<mat-radio-button  value="DemRoles">
			Delimit Roles
		</mat-radio-button>
		<mat-radio-button  value="DeactivateUser">
			Deactivate User
		</mat-radio-button>
	</mat-radio-group>
	<br>
	<br>
	<mat-form-field class="thirds">
		<input matInput autocomplete="off" placeholder="User Name" 
				[(ngModel)]="tempObject.section1.userName">
	</mat-form-field>
	&nbsp;
	<mat-form-field class="thirds">
		<input matInput autocomplete="off" placeholder="User's COSA Network ID" 
				[(ngModel)]="tempObject.section1.userCOSAID">
	</mat-form-field>
	&nbsp;
	<mat-form-field class="thirds">
		<input matInput [matDatepicker]="picker" placeholder="Choose a date"
				[(ngModel)]="tempObject.section1.date">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<br>
	<mat-form-field class="thirds">
		<input matInput autocomplete="off" placeholder="Department" 
				[(ngModel)]="tempObject.section1.department">
	</mat-form-field>
	&nbsp;
	<mat-form-field class="thirds">
		<input matInput autocomplete="off" placeholder="User's SAP Employee Number" 
				[(ngModel)]="tempObject.section1.userSAPNum">
	</mat-form-field>
	&nbsp;
	<mat-form-field class="thirds">
		<input matInput autocomplete="off" placeholder="Job Description" 
				[(ngModel)]="tempObject.section1.jobDesc">
	</mat-form-field>
	<br>
	<mat-form-field class="thirds">
		<input matInput autocomplete="off" placeholder="Email Address" 
				[(ngModel)]="tempObject.section1.emailAddr">
	</mat-form-field>
	&nbsp;
	<mat-form-field class="thirds">
		<input matInput autocomplete="off" placeholder="Manager's Name" 
				[(ngModel)]="tempObject.section1.managerName">
	</mat-form-field>
	&nbsp;
	<mat-form-field class="thirds">
		<input matInput autocomplete="off" placeholder="Work Location" 
				[(ngModel)]="tempObject.section1.workLocation">
	</mat-form-field>
	<br>
	<mat-checkbox [(ngModel)]="tempObject.section1.tempEmp" > Temporary Employee? </mat-checkbox>
	<div *ngIf="tempObject.section1.tempEmp">
		<h4>User ID Expiration Date</h4>
		<mat-form-field class="thirds">
			<input matInput [matDatepicker]="picker2" placeholder="From"
					[(ngModel)]="tempObject.section1.date">
			<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
			<mat-datepicker #picker2></mat-datepicker>
		</mat-form-field>
		&nbsp;
		<mat-form-field class="thirds">
			<input matInput [matDatepicker]="picker3" placeholder="To"
					[(ngModel)]="tempObject.section1.IDExpEnd">
			<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
			<mat-datepicker #picker3></mat-datepicker>
		</mat-form-field>
	</div>
	<br>
	<mat-checkbox [(ngModel)]="tempObject.section1.tempRoleAssn" > Temporary Role Assignment? </mat-checkbox>
	<div *ngIf="tempObject.section1.tempRoleAssn">
		<h4>Temporary Role Expiration</h4>
		<mat-form-field class="thirds">
			<input matInput [matDatepicker]="picker4" placeholder="From"
					[(ngModel)]="tempObject.section1.tempRoleExp">
			<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
			<mat-datepicker #picker4></mat-datepicker>
		</mat-form-field>
	</div>
</div>

<div>
	<h2>Section 2</h2>
	
</div>
<br>