/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body{
	margin:0;
}

.material-icons, .icon-text {
	vertical-align: middle;
}

.scroll-section::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}
.scroll-section::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.26);
}
.scroll-section::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.26);
}

.fill-scroll{
    overflow:auto;
    height:100%;
    /*border-radius: 50%;*/
}
