

<mat-card *ngIf="SubFormData != null">
	<mat-card-title>
		{{SubFormData.FormName}} Data View
	</mat-card-title>
	<mat-card-content>
		<table>
		<tr>
			<td colspan = "2" align="center">
				<h2>
					Section 1 General Info
				</h2>
			</td>
		</tr>
			<tr >
				<td>
					Add New User
				</td>
			</tr>
			<tr>
				<td>
					Modify Existing User (Add Roles)
				</td>
			</tr>
			<tr>
				<td>
					Delimit Roles
				</td>
			</tr>
			<tr>
				<td>
					Deactivate User
				</td>
			</tr>
			<tr>
				<td>
					Form Reason
				</td>
				<td>
					{{SubFormData.formReason}}
				</td>
			</tr>
			<tr>
				<td>
					User's CoSA Network ID
				</td>
				<td>
					{{SubFormData.userCOSAID}}
				</td>
			</tr>
			<tr>
				<td>
					Email Address
				</td>
				<td>
					{{SubFormData.emailAddr}}
				</td>
			</tr>
			<tr>
				<td>
					Work Location
				</td>
				<td>
					{{SubFormData.workLocation}}
				</td>
			</tr>
			<tr>
				<td>
					Temporary Employee?
				</td>
				<td>
					{{SubFormData.tempEmp}}
				</td>
			</tr>
			<tr>
				<td>
					Temporary Role Assignment
				</td>
				<td>
					{{SubFormData.tempRoleAssign}}
				</td>
			</tr>
			<tr>
				<td colspan = "2" align = "center">
					<h4>
						User ID Expiration Date (If Temporary Employee is checked)
					</h4>
				</td>
			</tr>
			<tr>
				<td>
					From
				</td>
				<td>
					{{SubFormData.IDExpStart}}
				</td>
			</tr>
			<tr>
				<td>
					To
				</td>
				<td>
					{{SubFormData.IDExpEnd}}
				</td>
			<tr>
				<td colspan = "2" align="center">
					<h4>
						Temporary Role Expriation (If Temporary Role Assignment is checked)
					</h4>
				</td>
			</tr>
			<tr>
				<td>
					From
				</td>
				<td>
					{{SubFormData.tempRoleExp}}
				</td>
			</tr>
			<tr>
				<td colspan = "2" align="center">
					<h2>
						Section 2 Department Roles
					</h2>
				</td>
			</tr>
			<tr>
				<td colspan = "2" align="center">
					<h4>
						General Display
					</h4>
				</td>
			</tr>
			<tr>
				<td>
					Department General Display
				</td>
				<td>
					{{SubFormData.DGD}}
				</td>
			</tr>
			<tr>
				<td>
				  Central General Display
				</td>
				<td>
					{{SubFormData.CGD}}
				</td>
			</tr>
			<tr>
				<td colspan = "2" align="center">
					<h4>
						All Roles
					</h4>
				</td>
			</tr>

			<tr *ngFor = "let findRisk of SubFormData['Risk']">
			  <td> Risk </td>
        <td> {{findRisk}} </td>
			</tr>
			<tr *ngFor = "let findIncentives of SubFormData['Police/Fire Incentives']">
				<td>
				  Police/Fire Incentives
				</td>
				<td>
					{{findIncentives}}
				</td>
			</tr>
       <tr *ngFor = "let Section2Purchase of SubFormData['Purchasing']">
				<td>
			   Purchasing(Section2)
				</td>
				<td>
					{{Section2Purchase}}
				</td>
			</tr>
				<tr *ngFor = "let findTime of SubFormData['Time']">
					<td>
						Time
					</td>
					<td>
						{{findTime}}
					</td>
				</tr>
				<tr *ngFor = "let findDHSI of SubFormData['DHSI Only']">
					<td>
						DHSI Only
					</td>
					<td>
						{{findDHSI}}
					</td>
				</tr>
				<tr *ngFor = "let findAccounts of SubFormData['Accounts Receivable/Sales & Distribution']">
					<td>
						Accounts Receivable/Sales & Distribution
					</td>
					<td>
						{{findAccounts}}
					</td>
				</tr>
				<tr *ngFor = "let findPermit of SubFormData['Permit Printing (Dept)']">
					<td>
						Permit Printing(Dept)
					</td>
					<td>
						{{findPermit}}
					</td>
				</tr>
				<tr *ngFor = "let findCollections of SubFormData['Collections']">
					<td>
						Collections
					</td>
					<td>
						{{findCollections}}
					</td>
				</tr>
				<tr *ngFor = "let policeOff of SubFormData['Police']">
					<td>
						Police Department Off Duty
					</td>
					<td>
						{{policeOff}}
					</td>
				</tr>
				<tr *ngFor = "let findInventory of SubFormData['Inventory']">
					<td>
						Inventory
					</td>
					<td>
						{{findInventory}}
					</td>
				</tr>
				<tr *ngFor = "let findAccountsPay of SubFormData['Accounts Payable / Travel']">
					<td>
						Accounts Payable/Travel
					</td>
					<td>
						{{findAccountsPay}}
					</td>
				</tr>
				<tr *ngFor = "let findControls of SubFormData['Controlling (CO)']">
					<td>
						Controlling (CO)
					</td>
					<td>
						{{findControls}}
					</td>
				</tr>
				<tr *ngFor = "let findFinance of SubFormData['Finance']">
					<td>
						Finance
					</td>
					<td>
						{{findFinance}}
					</td>
				</tr>
				<tr *ngFor = "let findAssets of SubFormData['Fixed Assets']">
					<td>
						Fixed Assets
					</td>
					<td>
						{{findAssets}}
					</td>
				</tr>
				<tr *ngFor = "let findFunds of SubFormData['Funds Management']">
					<td>
						Funds Management
					</td>
					<td>
						{{findFunds}}
					</td>
				</tr>
				<tr *ngFor = "let Section2Project of SubFormData['Projects']">
					<td>
						Projects
					</td>
					<td>
						{{Section2Project}}
					</td>
				</tr>
				<tr *ngFor = "let findJobInfo of SubFormData['Business Information Warehouse (BW)']">
					<td>
						Business Information Warehouse (BW)
					</td>
					<td>
						{{findJobInfo}}
					</td>
				</tr>
				<tr *ngFor = "let findAviation of SubFormData['Aviation Only - Airline Statistics']">
					<td>
						Aviation Only-Airline Statistics
					</td>
					<td>
						{{findAviation}}
					</td>
				</tr>
				<tr *ngFor = "let findPlants of SubFormData['Plant Maintenance']">
					<td>
						Plants Maintenance
					</td>
					<td>
						{{findPlants}}
					</td>
				</tr>
				<tr *ngFor = "let Section2Grant of SubFormData['Grants Management']">
					<td>
						Grants Management
					</td>
					<td>
						{{Section2Grant}}
					</td>
				</tr>
				<tr>
					<td colspan = "2" align="center">
						<h2>
							Section 3 Training Record
						</h2>
					</td>
				</tr>
				<tr>
					<td colspan = "2" align="center">
						<h4>
							SAP Training Record
						</h4>
					</td>
				</tr>
				<tr *ngFor = "let Section3Purchasing of SubFormData['Purchasing']">
					<td>
						Section 3 Purchasing
					</td>
					<td>
						{{Section3Purchasing}}
					</td>
				</tr>
				<tr *ngFor = "let Section3Grants of SubFormData['Grants Management']">
					<td>
						Grants Management
					</td>
					<td>
						{{Section3Grants}}
					</td>
				</tr>
				<tr>
					<td>
					  Credit Memo Choice
					</td>
					<td>
						{{SubFormData.creditMemoChoice}}
					</td>
				</tr>
				<tr>
					<td colspan = "2" align="center">
						<h2>
							Section 4 No-Central Roles
						</h2>
					</td>
				</tr>
				<tr *ngFor = "let findHumanResources of SubFormData['Human Resources / HR Designee Approval']">
					<td>
						Human Resources/HR Designee Approval
					</td>
					<td>
						{{findHumanResources}}
					</td>
				</tr>
				<tr *ngFor = "let findEmergencyOperations of SubFormData['Emergency Operations']">
					<td>
						Emergency Operations
					</td>
					<td>
						{{findEmergencyOperations}}
					</td>
				</tr>
				<tr *ngFor = "let findAccountsReceive of SubFormData['Accounts Receivable']">
					<td>
						Accounts Receivable
					</td>
					<td>
						{{findAccountsReceive}}
					</td>
				</tr>
				<tr *ngFor = "let findAccountsPay4 of SubFormData['Accounts Payable/Travel']">
					<td>
						Accounts Payable/Travel
					</td>
					<td>
						{{findAccountsPay4}}
					</td>
				</tr>
				<tr *ngFor = "let findFinance4 of SubFormData['Finance']">
					<td>
						Finance
					</td>
					<td>
						{{findFinance4}}
					</td>
				</tr>
				<tr *ngFor = "let findTreasury of SubFormData['Treasury']">
					<td>
						Treasury
					</td>
					<td>
						{{findTreasury}}
					</td>
				</tr>
				<tr *ngFor = "let findPayroll of SubFormData['Payroll']">
					<td>
						Payroll
					</td>
					<td>
						{{findPayroll}}
					</td>
				</tr>
				<tr *ngFor = "let findGrants4 of SubFormData['Grants Management']">
					<td>
						Grants Management
					</td>
					<td>
						{{findGrants}}
					</td>
				</tr>
				<tr *ngFor = "let findTimeAndAttend of SubFormData['Time and Attendance']">
					<td>
						Time and Attendance
					</td>
					<td>
						{{findTimeAndAttend}}
					</td>
				</tr>
				<tr *ngFor = "let findProjects4 of SubFormData['Projects']">
					<td>
						Projects
					</td>
					<td>
						{{findProjects4}}
					</td>
				</tr>
				<tr *ngFor = "let findBudget of SubFormData['Budget Department (Funds Management)']">
					<td>
						Budget Department(Funds Management)
					</td>
					<td>
						{{findBudget}}
					</td>
				</tr>







  </table>
	</mat-card-content>
</mat-card>
