<div align="center">
	<mat-card>
		<mat-card-title>Test Form</mat-card-title>
		<mat-card-subtitle>Form ID: {{FID}} </mat-card-subtitle>
		<mat-card-content>
			Which Forms are needed?<br>
			<mat-checkbox [(ngModel)]="testForm.IDForm.needed">Card Form</mat-checkbox>
			<mat-checkbox [(ngModel)]="testForm.UserForm.needed">User Form</mat-checkbox>
			<mat-checkbox [(ngModel)]="testForm.HardSoftForm.needed">HardSoft Form</mat-checkbox>
			<br>
			<mat-checkbox [(ngModel)]="testForm.PCardForm.needed">P-Card Form</mat-checkbox>
			<mat-checkbox [(ngModel)]="testForm.FuelForm.needed">Fueling Form</mat-checkbox>
			<mat-checkbox [(ngModel)]="testForm.SAPForm.needed">SAP Form</mat-checkbox>
			<br>
			<br>
			<mat-expansion-panel expanded="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn" *ngIf="!userName">error_outline</mat-icon>&nbsp;
						Common Information
					</mat-panel-title>
					<mat-panel-description>
						Common Information
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-default-info [userName]="userName"></app-default-info>
					{{userName}}
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel *ngIf="testForm.IDForm.needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn">error_outline</mat-icon>&nbsp;
						{{testForm.IDForm.name}}
					</mat-panel-title>
					<mat-panel-description>
						{{testForm.IDForm.summary}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-id-form></app-id-form>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel *ngIf="testForm.UserForm.needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn">error_outline</mat-icon>&nbsp;
						{{testForm.UserForm.name}}
					</mat-panel-title>
					<mat-panel-description>
						{{testForm.UserForm.summary}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-user-form></app-user-form>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel *ngIf="testForm.HardSoftForm.needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn">error_outline</mat-icon>&nbsp;
						{{testForm.HardSoftForm.name}}
					</mat-panel-title>
					<mat-panel-description>
						{{testForm.HardSoftForm.summary}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-hard-soft-form></app-hard-soft-form>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel *ngIf="testForm.PCardForm.needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn">error_outline</mat-icon>&nbsp;
						{{testForm.PCardForm.name}}
					</mat-panel-title>
					<mat-panel-description>
						{{testForm.PCardForm.summary}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-pcard-form></app-pcard-form>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel *ngIf="testForm.FuelForm.needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn">error_outline</mat-icon>&nbsp;
						{{testForm.FuelForm.name}}
					</mat-panel-title>
					<mat-panel-description>
						{{testForm.FuelForm.summary}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-fuel-form></app-fuel-form>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel *ngIf="testForm.SAPForm.needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn">error_outline</mat-icon>&nbsp;
						{{testForm.SAPForm.name}}
					</mat-panel-title>
					<mat-panel-description>
						{{testForm.SAPForm.summary}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-sap-form></app-sap-form>
				</div>
			</mat-expansion-panel>
		</mat-card-content>
	</mat-card>
</div>
	