<div align="center" *ngIf="masterForm != undefined">
	<mat-card>
		<mat-card-title>City of San Antonio Employee Requisition Form</mat-card-title>
		<mat-card-subtitle>Form ID: {{masterForm.FID}} </mat-card-subtitle>
		<mat-card-content>
			Which Forms are needed?<br>
			<table>
				<tr>
					<td>
						<mat-checkbox [(ngModel)]="masterForm.SubForm1.Needed">Card Form</mat-checkbox>
					</td>
					<td>
						<mat-checkbox [(ngModel)]="masterForm.SubForm2.Needed">User Form</mat-checkbox>
					</td>
					<td>
						<mat-checkbox [(ngModel)]="masterForm.SubForm3.Needed">HardSoft Form</mat-checkbox>
					</td>
				</tr>
				<tr>
					<td>
						<mat-checkbox [(ngModel)]="masterForm.SubForm4.Needed">P-Card Form</mat-checkbox>
					</td>
					<td>
						<mat-checkbox [(ngModel)]="masterForm.SubForm5.Needed">Fueling Form</mat-checkbox>
					</td>
					<td>
						<mat-checkbox [(ngModel)]="masterForm.SubForm6.Needed">SAP Form</mat-checkbox>
					</td>
				</tr>
			</table>

			<button mat-stroked-button color="warn" (click)="resetForms();">
				Reset All Form Completions
			</button>

			<br>
			<br>

			<mat-expansion-panel expanded="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn" *ngIf="!masterForm.SubForm0.Completed">priority_high</mat-icon>&nbsp;
						<mat-icon style="color:forestgreen;" *ngIf="masterForm.SubForm0.Completed">done</mat-icon>&nbsp;
						Common Information
					</mat-panel-title>
					<mat-panel-description>
						Common Information
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-default-info [(ngModel)]="masterForm.SubForm0"></app-default-info>
					
					
					<br>
					<!-- <mat-slide-toggle [(ngModel)]="masterForm.SubForm0.Completed"></mat-slide-toggle> -->
				</div>
			</mat-expansion-panel>



			<mat-expansion-panel *ngIf="masterForm.SubForm1.Needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn" *ngIf="!masterForm.SubForm1.Completed">priority_high</mat-icon>&nbsp;
						<mat-icon style="color:forestgreen;" *ngIf="masterForm.SubForm1.Completed">done</mat-icon>&nbsp;
						{{masterForm.SubForm1.FormName}}
					</mat-panel-title>
					<mat-panel-description>
						Fufillment By: {{masterForm.SubForm1.Fufillment}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-id-form [(ngModel)]="masterForm.SubForm1"></app-id-form>
				</div>
			</mat-expansion-panel>



			<mat-expansion-panel *ngIf="masterForm.SubForm2.Needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn" *ngIf="!masterForm.SubForm2.Completed">priority_high</mat-icon>&nbsp;
						<mat-icon style="color:forestgreen;" *ngIf="masterForm.SubForm2.Completed">done</mat-icon>&nbsp;
						{{masterForm.SubForm2.FormName}}
					</mat-panel-title>
					<mat-panel-description>
						Fufillment By: {{masterForm.SubForm2.Fufillment}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-user-form [(ngModel)]="masterForm.SubForm2"></app-user-form>
				</div>
			</mat-expansion-panel>



			<mat-expansion-panel *ngIf="masterForm.SubForm3.Needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn" *ngIf="!masterForm.SubForm3.Completed">priority_high</mat-icon>&nbsp;
						<mat-icon style="color:forestgreen;" *ngIf="masterForm.SubForm3.Completed">done</mat-icon>&nbsp;
						{{masterForm.SubForm3.FormName}}
					</mat-panel-title>
					<mat-panel-description>
						Fufillment By: {{masterForm.SubForm3.Fufillment}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-hard-soft-form [(ngModel)]="masterForm.SubForm3"></app-hard-soft-form>
				</div>
			</mat-expansion-panel>



			<mat-expansion-panel *ngIf="masterForm.SubForm4.Needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn" *ngIf="!masterForm.SubForm4.Completed">priority_high</mat-icon>&nbsp;
						<mat-icon style="color:forestgreen;" *ngIf="masterForm.SubForm4.Completed">done</mat-icon>&nbsp;
						{{masterForm.SubForm4.FormName}}
					</mat-panel-title>
					<mat-panel-description>
						Fufillment By: {{masterForm.SubForm4.Fufillment}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-pcard-form [(ngModel)]="masterForm.SubForm4"></app-pcard-form>
				</div>
			</mat-expansion-panel>



			<mat-expansion-panel *ngIf="masterForm.SubForm5.Needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn" *ngIf="!masterForm.SubForm5.Completed">priority_high</mat-icon>&nbsp;
						<mat-icon style="color:forestgreen;" *ngIf="masterForm.SubForm5.Completed">done</mat-icon>&nbsp;
						{{masterForm.SubForm5.FormName}}
					</mat-panel-title>
					<mat-panel-description>
						Fufillment By: {{masterForm.SubForm5.Fufillment}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-fuel-form [(ngModel)]="masterForm.SubForm5"></app-fuel-form>
				</div>
			</mat-expansion-panel>



			<mat-expansion-panel *ngIf="masterForm.SubForm6.Needed">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon color="warn" *ngIf="!masterForm.SubForm6.Completed">priority_high</mat-icon>&nbsp;
						<mat-icon style="color:forestgreen;" *ngIf="masterForm.SubForm6.Completed">done</mat-icon>&nbsp;
						{{masterForm.SubForm6.FormName}}
					</mat-panel-title>
					<mat-panel-description>
						Fufillment By: {{masterForm.SubForm6.Fufillment}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-sap-form [(ngModel)]="masterForm.SubForm6"></app-sap-form>
				</div>
			</mat-expansion-panel>

			<br>
			<br>

			<button mat-stroked-button style="color:forestgreen;" (click)="postForm();">
				Post Form
			</button>
			<button mat-stroked-button style="color:forestgreen;" (click)="getForms();">
				Get Forms
			</button>

			<br>
			<br>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						SubForm Data Views
					</mat-panel-title>
					<mat-panel-description>
						This is Temporary. To view Progress.
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					<app-default-view [SubFormData]="masterForm.SubForm0"></app-default-view>
					<app-id-view [SubFormData]="masterForm.SubForm1"></app-id-view>
					<app-user-view [SubFormData]="masterForm.SubForm2"></app-user-view>
					<app-hard-soft-view [SubFormData]="masterForm.SubForm3"></app-hard-soft-view>
					<app-pcard-view [SubFormData]="masterForm.SubForm4"></app-pcard-view>
					<app-fuel-view [SubFormData]="masterForm.SubForm5"></app-fuel-view>
					<app-sap-view [SubFormData]="masterForm.SubForm6"></app-sap-view>
				</div>
			</mat-expansion-panel>
		</mat-card-content>
	</mat-card>
</div>

<div *ngIf="masterForm == undefined">
	<h1>Please Wait...</h1>
</div>