<p>
	{{ fuel.department }}<br>
		Department:<br>
		<mat-form-field>
		<input matInput [(ngModel)]="fuel.department" placeholder="Department">
		</mat-form-field><br>
		Division:<br>
		<mat-form-field>
		<input matInput [(ngModel)]="fuel.division" placeholder="Division">
		</mat-form-field><br>
		Cost Center:<br>
		<mat-form-field>
		<input matInput [(ngModel)]="fuel.costcenter" placeholder="Cost Center">
		</mat-form-field><br>
		Dept. Requester:<br>
		<mat-form-field>
		<input matInput [(ngModel)]="fuel.deptreq" placeholder="Name">
		</mat-form-field><br>
		Phone Ext.<br>
		<mat-form-field>
		<input matInput [(ngModel)]="fuel.phoneext" placeholder="5555">
		</mat-form-field><br>
			
		Employee(s) Requesting Fueling Authorization<br>
		Employee:<br>
		<mat-form-field>
		<input matInput [(ngModel)]="fuel.samemp.name" placeholder="Name">
		</mat-form-field><br>
		SAP#:<br>
		<mat-form-field>
		<input matInput [(ngModel)]="fuel.samemp.sap" placeholder="SAP#">
		</mat-form-field>
		<br>Work Phone:<br>
		<mat-form-field>
		<input matInput [(ngModel)]="fuel.samemp.phone" placeholder="(123)4567890">
		</mat-form-field><br>
		<button mat-raised-button ng-click="addEmployee()">
		Add Employee</button><br>
		<li *ngFor="let FuelEmployee of fuel.emparray ">
		<span class="badge">{{samemp.name}}</span> {{samemp.sap}}
		</li>
			  
		<mat-checkbox >I acknowledge that I have reviewed AD1.8 Vehicle Use with the above-listed employee(s).</mat-checkbox><br>
		<mat-checkbox >I will ensure the above-listed employee(s) attend the City </mat-checkbox>
		driving safety training course in accordance with AD 4.8 Driver Safety Program.<br>
		{{ fuel.test}}
</p>
	