<body ng-app="fuelForm">
	<div ng-controller="myCtrl">
		<p>
			{{ fuel.department }}<br>
			  Department:<br>
			  <input [(ngModel)]="fuel.department" placeholder="Department"><br>
			  Division:<br>
			  <input [(ngModel)]="fuel.division" placeholder="Division"><br>
			  Cost Center:<br>
			  <input [(ngModel)]="fuel.costcenter" placeholder="Cost Center"><br>
			  Dept. Requester:<br>
			  <input [(ngModel)]="fuel.deptreq" placeholder="Name"><br>
			  Phone Ext.<br>
			  <input [(ngModel)]="fuel.phoneext" placeholder="5555"><br>
			
			  Employee(s) Requesting Fueling Authorization<br>
			  Employee:<br>
			  <input [(ngModel)]="fuel.samemp.name" placeholder="Name"><br>
			   SAP#:<br>
			  <input [(ngModel)]="fuel.samemp.sap" placeholder="SAP#"><br>
			   Work Phone:<br>
			  <input [(ngModel)]="fuel.samemp.phone" placeholder="(123)4567890"><br>
			  <button ng-click="addEmployee(fuel.samemp.name, fuel.samemp.sap, fuel.samemp.phone)">
			  Add Employee</button><br>
			  <li *ngFor="let fuelemployee of fuel.emparray ">
			  <span class="badge">{{samemp.name}}</span> {{samemp.sap}}
			  </li>
			  
			  <input type="checkbox" name="fuelacknowledgement1" value="1">I acknowledge that I have reviewed AD1.8 Vehicle Use with the above-listed employee(s).<br>
			  <input type="checkbox" name="fuelacknowledgement2" value="2">I will ensure the above-listed employee(s) attend the City 
			  driving safety training course in accordance with AD 4.8 Driver Safety Program.<br>
			  {{ fuel.test}}
			</p>
		</div>
	<script>
	var app =angular.module('fuelForm', []);
	app.controller('myCtrl', function($scope) {
	    $scope.myFunc = function() {
	       $scope.fuel.test++;
	    };
	}]);
	</script>
</body>