<div *ngIf="SubFormData != undefined">

	<h1>
	City of San Antonio
	Identification Card Request
	</h1>

	<p>
	This form is required when requesting a City of San Antonio Idenification card (CoSA ID).
	CoSA Facility access or Facility access change. If the request is for access to facilities requiring a Criminal Justice Information System
	(CJIS) Clearance, a background check will be required prior to the issuance of an ID card. By submitting this form, all individuals listed
	indicate the person obtain a CoSA ID has fulfilled all requirements to include the background checks outlined within the CJIS Security Policy
	and CoSA CJIS Guidelines (as required)

	This information contained in this form will be maintained in accordance with all applicable privacy laws

	</p>

	<h2> Request Type(s) (check all that apply) </h2>
	<div>
		<mat-checkbox [(ngModel)]="SubFormData.idCard">
			CoSA ID Card
		</mat-checkbox>

		<mat-checkbox [(ngModel)]="SubFormData.facilityAccess">
			CoSA Facility Access
		</mat-checkbox>

		<mat-checkbox [(ngModel)]="SubFormData.cjis">
			CJIS Facility Access
		</mat-checkbox>

		<mat-checkbox [(ngModel)]="SubFormData.addrChange">
			Facility Access Change
		</mat-checkbox>

		<mat-checkbox [(ngModel)]="SubFormData.reIssueCard">
			Re-Issue ID Card
		</mat-checkbox>
	</div>

	<h3> Personnel Information </h3>

	<mat-form-field class="thirds">
		<mat-select [(ngModel)]="SubFormData.jobStatus" placeholder="Job Status">
			<mat-option value="tempcontract"> Contract temporary </mat-option>
			<mat-option value="contractor"> Contractor </mat-option>
			<mat-option value="fulltime"> CoSA Full-Time </mat-option>
			<mat-option value="parttime"> CoSA Part-Time </mat-option>
			<mat-option value="temp"> Temporary </mat-option>
			<mat-option value="paid"> Paid Intern </mat-option>
			<mat-option value="unpaid"> Unpaid Intern </mat-option>
			<mat-option value="vendor"> Vendor </mat-option>
			<mat-option value="volunteer"> Volunteer </mat-option>
		</mat-select>
	</mat-form-field>
	<br>


	<mat-form-field hintLabel="(999) 999-9999" class="thirds">
		<input matInput maxLength="13" placeholder='Work Phone Number' autocomplete="off" 
				[(ngModel)]="SubFormData.workPhone">
	</mat-form-field>



	<mat-form-field hintLabel="(999) 999-9999" class="thirds">
		<input matInput maxLength="13" placeholder='Contact Phone Number' autocomplete="off" 
				[(ngModel)]="SubFormData.contactPhone">
	</mat-form-field>

	<div *ngIf="SubFormData.jobStatus == 'contractor' || SubFormData.jobStatus == 'vendor' || SubFormData.jobStatus == 'tempcontract'">
		<h4> Contractor/Vendor Information </h4>
		<p> Note: Contractors requiring a CoSA ID Card must complete all fields applicable above, in addition to company detail information below </p>

		<mat-form-field class="thirds">
			<input matInput placeholder="Company Name" autocomplete="off" [(ngModel)]="SubFormData.companyName">
		</mat-form-field>

		<mat-form-field class="thirds">
			<input matInput placeholder="Point of Contact Name" autocomplete="off" [(ngModel)]="SubFormData.pocName">
		</mat-form-field>

		<mat-form-field class="thirds" hintLabel="(999) 999-9999">
			<input matInput placeholder="Contact Number" autocomplete="off" [(ngModel)]="SubFormData.contactNum">
		</mat-form-field>

		<mat-form-field class="thirds">
			<input matInput placeholder="Contract Number" autocomplete="off" [(ngModel)]="SubFormData.contractNum">
		</mat-form-field>

		<mat-form-field class="thirds">
			<input matInput [matDatepicker]="picker" placeholder="Contract Expiration Date"
					 [(ngModel)]="SubFormData.contractExp">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>



	<div *ngIf="SubFormData.facilityAccess || SubFormData.cjis || SubFormData.addrChange">
		<h4> Facility Access Information </h4>

		<mat-form-field class="full">
			<input matInput placeholder="Facility Name" autocomplete="off" [(ngModel)]="SubFormData.facilityName">
		</mat-form-field>

		<mat-form-field class="full">
			<input matInput placeholder="Facility Address" autocomplete="off" [(ngModel)]="SubFormData.facilityAddr">
		</mat-form-field>
		<br>

		<u> Facility Access Point(s) Requested:</u>
		<br>
		<mat-form-field class="thirds">
			<input matInput placeholder="Facility Entry" autocomplete="off" [(ngModel)]="SubFormData.facilityEntry">
		</mat-form-field>

		<mat-form-field class="thirds">
			<input matInput placeholder="Suite Entry" autocomplete="off" [(ngModel)]="SubFormData.suiteEntry">
		</mat-form-field>

		<mat-form-field class="thirds">
			<input matInput placeholder="Room Entry" autocomplete="off" [(ngModel)]="SubFormData.roomEntry">
		</mat-form-field>

		<mat-form-field class="full">
			<input matInput placeholder="Other" autocomplete="off" [(ngModel)]="SubFormData.other">
		</mat-form-field>

	</div>

	<br>
	<br>
	<button mat-stroked-button color="warn" (click)="verifySubForm();" *ngIf="!SubFormData.Completed">
		Verify SubForm
	</button>
	<button mat-stroked-button [style.color]="'forestgreen'" *ngIf="SubFormData.Completed" disabled>
		SubForm Verified
	</button>
	<br>
	<div style="color:red;" *ngFor="let item of ERROR" >
		{{item}}
		<br>
	</div>
</div>

	

