<h1>
  City of San Antonio
  Identification Card Request
</h1>

<p>
  This form is required when requesting a City of San Antonio Idenification card (CoSA ID).
  CoSA Facility access or Facility access change. If the request is for access to facilities requiring a Criminal Justice Information System
  (CJIS) Clearance, a background check will be required prior to the issuance of an ID card. By submitting this form, all individuals listed
  indicate the person obtain a CoSA ID has fulfilled all requirements to include the background checks outlined within the CJIS Security Policy
  and CoSA CJIS Guidelines (as required)

  This information contained in this form will be maintained in accordance with all applicable privacy laws

</p>

<h2> Request Type(s) (check all that apply) </h2>
<div class = "Requests">
<mat-checkbox class = "getID" [(ngModel)]= "getNewIDCard">
<label> {{IDForm.requestType.IDCard}} </label></mat-checkbox>

<mat-checkbox class = "getAccess" [(ngModel)]="facAccess">
  <label>{{IDForm.requestType.facultyAccess}}</label>
  </mat-checkbox>

<mat-checkbox class ="cijsAccess" [(ngModel)]="CIJS">
  <label>{{IDForm.requestType.cjisAccess}}</label>
</mat-checkbox>

<mat-checkbox class = "accessChange" [(ngModel)]= "facChange">
  <label>{{IDForm.requestType.facultyAccChange}}</label>
</mat-checkbox>

<mat-checkbox class = "IssueID" [(ngModel)] = "issueNewID">
  <label>{{IDForm.requestType.issueID}}</label>
</mat-checkbox>
</div>

<h3> Personnel Information </h3>

<div class = "Personnel">
<mat-form-field>
  {{IDForm.personnelInfo.First}} <textarea matInput> </textarea>
</mat-form-field>
<mat-form-field>
  {{IDForm.personnelInfo.middleNm}} <textarea matInput> </textarea>
</mat-form-field>

<mat-form-field>
{{IDForm.personnelInfo.Last}} <textarea matInput> </textarea>
</mat-form-field>


<mat-form-field>

 <mat-select [(value)] = "jobPosition" placeholder = "Job Status">
   <mat-option value = "Cont.temp"> Contract temporary </mat-option>
   <mat-option value = "contractor"> Contractor </mat-option>
   <mat-option value = "fullTime"> CoSA Full-Time </mat-option>
   <mat-option value = "partTime"> CoSA Part-Time </mat-option>
   <mat-option value = "temp"> Temporary </mat-option>
   <mat-option value = "getPaid"> Paid Intern </mat-option>
   <mat-option value = "unPaid"> Unpaid Intern </mat-option>
   <mat-option value = "vendor"> Vendor </mat-option>
   <mat-option value = "helper"> Volunteer </mat-option>
 </mat-select>
</mat-form-field>


<mat-form-field hintLabel = "(999) 999-9999">
  <input matInput #input matInput maxLength = "13" placeholder={{IDForm.personnelInfo.workPhone}}>
</mat-form-field>


<mat-form-field>
{{IDForm.personnelInfo.jobTitle}} <textarea matInput> </textarea>
</mat-form-field>

<mat-form-field>

 <mat-select [(value)] = "findDepart" placeholder = "Department">
   <mat-option value = "Animal"> Animal Care Services </mat-option>
   <mat-option value = "Arts"> Arts & Culture </mat-option>
   <mat-option value = "Flying"> Aviation </mat-option>
   <mat-option value = "Building"> Building and Equipment Services </mat-option>
   <mat-option value = "Center City"> Center City Developement and Operations </mat-option>
   <mat-option value = "Attorney"> City Attorney </mat-option>
   <mat-option value = "Auditor"> City Auditor </mat-option>
   <mat-option value = "Clerk"> City Clerk </mat-option>
   <mat-option value = "Manager"> City Manager's Office </mat-option>
   <mat-option value = "Convention"> Convention & Sports Facilities </mat-option>
  <mat-option value = "Development"> Development Services  </mat-option>
      <mat-option value = "EastPoint"> EastPoint </mat-option>
      <mat-option value = "Economy"> Economic Development </mat-option>
      <mat-option value = "Econ Mangement"> Economic Management </mat-option>
      <mat-option value = "Equity"> Equity </mat-option>
      <mat-option value = "Finance"> Finance </mat-option>
      <mat-option value = "Fire"> Fire </mat-option>
      <mat-option value = "Government"> Government & Public Affairs  </mat-option>
      <mat-option value = "Health"> Health </mat-option>
      <mat-option value = "History"> Historic Preservation </mat-option>
      <mat-option value = "Human Resources"> Human Resources </mat-option>
      <mat-option value = "Human Services"> Human Services </mat-option>
      <mat-option value = "Info Tech"> Information & Technology Services </mat-option>
      <mat-option value = "Innovate"> Innovation </mat-option>
      <mat-option value = "Library"> Library  </mat-option>
      <mat-option value = "Budget"> Management & Budget </mat-option>
      <mat-option value = "Mayor"> Mayor's office </mat-option>
      <mat-option value = "Municipal"> Municipal Court </mat-option>
      <mat-option value = "Neighborhood"> Neighborhood & Housing Services </mat-option>
      <mat-option value = "Parks"> Parks & Recreation </mat-option>
      <mat-option value = "Planning"> Planning </mat-option>
      <mat-option value = "Police"> Police </mat-option>
      <mat-option value = "Pre-k"> Pre-k 4 SA </mat-option>
      <mat-option value = "Risk Manage"> Office of Risk Management </mat-option>
      <mat-option value = "Waste Management"> Solid Waste Management </mat-option>
      <mat-option value = "Sustainability"> Sustainability </mat-option>
      <mat-option value = "Transportation"> Transportation & Capital Improvements </mat-option>
      <mat-option value = "Tricentennial"> Tricentennial & Capital Improvements </mat-option>
      <mat-option value = "World Heritage"> World Heritage </mat-option>

    </mat-select>
</mat-form-field>

<mat-form-field>
{{IDForm.personnelInfo.hrSAP}} <textarea matInput> </textarea>
</mat-form-field>

<mat-form-field>
{{IDForm.personnelInfo.Division}} <textarea matInput> </textarea>
</mat-form-field>

<mat-form-field>
{{IDForm.personnelInfo.superNm}} <textarea matInput> </textarea>
</mat-form-field>

<mat-form-field hintLabel = "(999) 999-9999">
  <input matInput #input matInput maxLength = "13" placeholder={{IDForm.personnelInfo.contactPhone}}>
</mat-form-field>


</div>

<div *ngIf = "jobPosition == 'contractor' || jobPosition == 'vendor'">
  <h4> Contractor/Vendor Information </h4>
  <p> Note: Contractors requiring a CoSA ID Card must complete all fields applicable above, in addition to company detail information below </p>
  <div class = "contractorVendor">
    <mat-form-field>
      {{IDForm.contractorVendorInfo.companyName}} <textarea matInput> </textarea>
    </mat-form-field>
    <br>

    <mat-form-field>
      {{IDForm.contractorVendorInfo.pointOfContact}} <textarea size=100 matInput> </textarea>
    </mat-form-field>
    <br>

    <mat-form-field>
      {{IDForm.contractorVendorInfo.contactNum}} <textarea matInput> </textarea>
    </mat-form-field>
    <br>

    <mat-form-field>
      {{IDForm.contractorVendorInfo.ContractNum}} <textarea matInput> </textarea>
    </mat-form-field>
    <br>

    <mat-form-field>
      {{IDForm.contractorVendorInfo.contractExpr}} <textarea matInput> </textarea>
    </mat-form-field>
    <br>


</div>
</div>



<div *ngIf = "getNewIDCard && facAccess || getNewIDCard && CIJS ||  getNewIDCard && facChange && jobPosition != 'contractor' && jobPosition != 'vendor'">
<h4> Faculty Access Information </h4>

<div class ="Faculty Access">
<mat-form-field>
{{IDForm.facultyInfo.facultyNm}} <textarea matInput> </textarea>
</mat-form-field>
<br>

<mat-form-field>
{{IDForm.facultyInfo.facultyAddr}} <textarea matInput> </textarea>
</mat-form-field>

<br>

<u> Faculty Access Point(s) Requested:</u>
<br>


<mat-form-field>
{{IDForm.facultyInfo.facultyEntry}} <textarea matInput> </textarea>
</mat-form-field>

<br>

<mat-form-field>
{{IDForm.facultyInfo.suiteEntry}} <textarea matInput> </textarea>
</mat-form-field>

<br>

<mat-form-field>
{{IDForm.facultyInfo.roomEntry}} <textarea matInput> </textarea>
</mat-form-field>

<br>

<mat-form-field>
{{IDForm.facultyInfo.other}} <textarea matInput> </textarea>
</mat-form-field>

<br>
</div>
</div>

<h5> Department Approval Coordination  (Completed by Supervisor or above) </h5>
<div class = "departmentApprov">
  <p>Enter your network creditials in the spaces required </p>
  <mat-form-field>
    User ID: <textarea matInput> </textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder = "Password:" [type] = "hide ? 'password' : 'text' ">
    <mat-icon matSuffix (click) = "hide = !hide"> {{hide ? 'visibility' : 'visibility_off'}} </mat-icon>
  </mat-form-field>
  <mat-form-field>
{{IDForm.departmentApprov.superSign}} <textarea matInput> </textarea>
</mat-form-field>

<br>

<mat-form-field>
  <input matInput [matDatepicker]= "chooseDate" placeholder={{IDForm.departmentApprov.date}}>
  <mat-datepicker-toggle matSuffix [for] = "chooseDate"> </mat-datepicker-toggle>
  <mat-datepicker #chooseDate> </mat-datepicker>
</mat-form-field>



</div>
