<div *ngIf="SubFormData != undefined">
	
	<!-- TWO CHECKBOXES WITH REACTIVE FIELDS. -->
	<p><b>Request Category(ies):</b> </p>
	      <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.provHardware"> 
            <label>Provisioning(Assigned) Hardware</label>  
         </mat-checkbox>

         <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.provSoftware"> 
            <label>Specialized Software</label>  
         </mat-checkbox>

<!-- NOTE: Due to the nature of the form, there are if statements with the same condition.
	- This is to due with 'placing' fields in the order there are supposed to appear in.

	Thus, some conditions are repated, but do different things to keep the order of the 
	original form.
-->
	<!-- HARDWARE PROVISIONING. First block. -->
	<div *ngIf="SubFormData.provHardware">
		<p> Hardware Procurement Info: </p>
		<mat-form-field class="example-margin">
			<input matInput placeholder="*Cost Center / I/O: " [(ngModel)]="SubFormData.hardCostCenterIO">
		</mat-form-field>

		<mat-form-field class="example-margin">
			<input matInput placeholder="*GL Acct: " [(ngModel)]="SubFormData.hardGlAcc">
		</mat-form-field>
		<br> 
	</div>

	<div *ngIf="SubFormData.provSoftware">
	<p> Software Procurement Info: </p>
		<mat-form-field class="example-margin">
			<input matInput placeholder="*Cost Center / I/O: " [(ngModel)]="SubFormData.softCostCenterIO">
		</mat-form-field>

		<mat-form-field class="example-margin">
			<input matInput placeholder="*GL Acct: " [(ngModel)]="SubFormData.softGlAcc">
		</mat-form-field>
		<br> 
	</div>

<!--CODE BLOCK: HARDWARE PROVISIONING fields start here. 2nd(main) block. -->
	<div *ngIf="SubFormData.provHardware">
		<h3>Hardware -- Provisioning (Assigned) </h3>
		<p>Enter any/all information related to the hardware that is to be provisioned(assigned) to a specific User<br>
		 </p> <!-- We do one employee at a time in our master(centeralized) form, so no 'add' feature here. -->

		<mat-form-field class="example-margin">
			<input matInput placeholder="*Bldg Location: " [(ngModel)]="SubFormData.BldgLoc">
		</mat-form-field>

		<mat-form-field class="example-margin">
			<input matInput placeholder="Floor: " [(ngModel)]="SubFormData.floor">
		</mat-form-field>

		<mat-form-field class="example-margin">
			<input matInput placeholder="Office #: " [(ngModel)]="SubFormData.office">
		</mat-form-field>
		<br>

		<mat-form-field class="example-margin">
		  <mat-select [(value)]="SubFormData.requestType" placeholder="*Request Type: ">
		    <mat-option value="New">New</mat-option>
		    <mat-option value="Replacement">Replacement</mat-option>
		    <mat-option value="Upgrade">Upgrade</mat-option>
		    <mat-option value="Secondary Device">Secondary Device</mat-option>
		  </mat-select>
		</mat-form-field>

		<mat-form-field class="example-form">
			<input matInput placeholder="Current Device('Asset Tag')ID: " [(ngModel)]="SubFormData.currentDeviceId">
		</mat-form-field> 
		<br>

		<!-- Various checkboxs. Reactive fields per box selected. &quot; for quotaion -->
		<mat-checkbox class="example-form" [(ngModel)]="SubFormData.desktopBox"> 
            <label>Desktop:</label>  
         </mat-checkbox>
<!-- CODE BLOCK: reactive fields for desktop checkbox -->
         	<div *ngIf="SubFormData.desktopBox">
         		<mat-form-field class="example-full-width">
				  <mat-select [(value)]="SubFormData.desktopInput" placeholder="Desktop">
				    <mat-option value="Apple Mac Mini, i5 Pro, 8GB RAM, 1TB HD, Mac OSX & Warranty">Apple Mac Mini, i5 Pro, 8GB RAM, 1TB HD, Mac OSX & Warranty
				    </mat-option>

				    <mat-option value="Dell Precision T3420, Xeon Pro, 16GB RAM, DVD R/W, 500GB HDD, AMD FF 2GB AGP, Win 7 64 bit O/S">Dell Precision T3420, Xeon Pro, 16GB RAM, DVD R/W, 500GB HDD, AMD FF 2GB AGP, Win 7 64 bit O/S
				    </mat-option>

				    <mat-option value="Apple 21.5&quot; iMac, i5 processor, 16GB RAM, 1TB HDD, Intel Graphics 6200">Apple 21.5" iMac, i5 processor, 16GB RAM, 1TB HDD, Intel Graphics 6200
				    </mat-option>

				    <mat-option value ="Apple Mac Pro, 8-Core Intel Xeon processor, 32GB RAM, 512GB Flash Storage, AMD FirePro">Apple Mac Pro, 8-Core Intel Xeon processor, 32GB RAM, 512GB Flash Storage, AMD FirePro
				    </mat-option>

				    <mat-option value ="Apple 27&quot; iMac, i5 processor, 8GB RAM, 1TB HDD, AMD Radeon 2GB">Apple 27" iMac, i5 processor, 8GB RAM, 1TB HDD, AMD Radeon 2GB
				    </mat-option>

				    <mat-option value ="Dell 5810 Xeon Processor, 32GB RAM, 256GB SSD, AMD FirePro W5100 4GB, Win 7 65 bit O/S">Dell 5810 Xeon Processor, 32GB RAM, 256GB SSD, AMD FirePro W5100 4GB, Win 7 65 bit O/S 
				    </mat-option>

				  </mat-select>
				</mat-form-field>
         	</div>
 <!-- END BLOCK: desktop -->
         <br>

        <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.laptopBox"> 
            <label>Laptop:</label>  
         </mat-checkbox>
<!-- CODE BLOCK: reactive fields for Laptop checkbox. -->
        	<div *ngIf="SubFormData.laptopBox">
         		<mat-form-field class="example-full-width">
         			<mat-select [(value)]="SubFormData.laptopInput" placeholder="Laptop">
         				<mat-option value="Dell Latitude 5290 2-in-1, 12.0', i7 processor, 16GB RAM, Win 10 64 bit O/S">
         				Dell Latitude 5290 2-in-1, 12.0', i7 processor, 16GB RAM, Win 10 64 bit O/S
         				</mat-option>

         				<mat-option value="Rugged Dell Latitude -14&quot;, i7 processor, 8GB RAM, AT&T 4G modern, Win 7 64 bit O/S">Rugged Dell Latitude -14", i7 processor, 8GB RAM, AT&T 4G modern, Win 7 64 bit O/S
         				</mat-option>

         				<mat-option value="Apple Macbook Pro w Retina 13', i5 processor, 16GB RAM, 256GB Flash Storage, Intel Graphics 6100">Apple Macbook Pro w Retina 13', i5 processor, 16GB RAM, 256GB Flash Storage, Intel Graphics 6100</mat-option>

         				<mat-option value="Dell Latitude E7480- 14', i5 processor, 8GB RAM, Win 7 64 bit O/S">
         				Dell Latitude E7480- 14', i5 processor, 8GB RAM, Win 7 64 bit O/S
         				</mat-option>

         				<mat-option value="Dell Latitude E7280- 12', i5 processor, 8GB RAM, Win 7 64 bit O/S">
         				Dell Latitude E7280- 12', i5 processor, 8GB RAM, Win 7 64 bit O/S
         				</mat-option>

         				<mat-option value="Dell Latitude E7280- 12', (Touch) i5 processor, 8GB RAM, Win 7 64 bit O/S">
         				Dell Latitude E7280- 12', (Touch) i5 processor, 8GB RAM, Win 7 64 bit O/S
         				</mat-option>

         				<mat-option value="Apple MacBookAir 13', i7 processor, 8GB RAM, 256 Flash Storage, Intel Graphics 6000">
         				Apple MacBookAir 13', i7 processor, 8GB RAM, 256 Flash Storage, Intel Graphics 6000
         				</mat-option>

         				<mat-option value="Apple MacBookAir 15&quot;, i7 processor, 16GB RAM, 512 Flash Storage, AMD Radeon 2GB">
         				Apple MacBookAir 15", i7 processor, 16GB RAM, 512 Flash Storage, AMD Radeon 2GB
         				</mat-option>

         				<mat-option value="Dell Latitude 5580- 15.6&quot;, i5 processor, 8GB RAM, Win 7 64 bit O/S">
         				Dell Latitude 5580- 15.6", i5 processor, 8GB RAM, Win 7 64 bit O/S
         				</mat-option>
         			</mat-select>
         		</mat-form-field>
         		<!-- CHECKBOXES that follow the dropdown menu. -->
         		<label>Select Extra: </label>
         		  <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.dockingStation"> 
		            <label>Docking Station:</label>  
		         </mat-checkbox>

		         <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.keyMouse"> 
		            <label>Keyboard/Mouse </label>  
		         </mat-checkbox>

		          <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.addMonitor"> 
		            <label>Additional Monitor </label>  
		         </mat-checkbox>
         	</div>
<!-- END BLOCK: Laptop. -->
         <br>

         <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.monitorBox"> 
            <label>Monitor:</label>  
         </mat-checkbox>
<!-- CODE BLOCK: Monitor reactive fields. -->
		<div *ngIf="SubFormData.monitorBox">
			<!-- Dropdown menu for Monitor(Single or Double) -->
			<mat-form-field class="example-margin" >
			  <mat-select [(value)]="SubFormData.monitorMode" placeholder="Mode">
			    <mat-option value="Single">Single</mat-option>
			    <mat-option value="Dual">Dual</mat-option>
			  </mat-select>
			</mat-form-field>

			<!-- Dropdown menu for Monitor itself. -->
			<mat-form-field class="example-margin">
			  <mat-select [(value)]="SubFormData.monitorInput" placeholder="Monitor">
				    <mat-option value="Dell 24&quot; Monitor - U2417H/ w Display, Mini Display Cables">
				    Dell 24" Monitor - U2417H/ w Display, Mini Display Cables
					</mat-option>

				    <mat-option value="Qty 2 Dell U2414H Mon w/ 2 stands, mini display to display cable (mac Mini)">Qty 2 Dell U2414H Mon w/ 2 stands, mini display to display cable (mac Mini)
				    </mat-option>

				    <mat-option value="Qty 2 Dell U2414H Mon w/ 2 stands (w/ display to mini display cables) for Dell">Qty 2 Dell U2414H Mon w/ 2 stands (w/ display to mini display cables) for Dell
				    </mat-option>

				    <mat-option value="Dual Dell U2414H Mon w/ 1 stand (cables display port to mini display) for Dell or (Ma"> Dual Dell U2414H Mon w/ 1 stand (cables display port to mini display) for Dell or (Ma
				    </mat-option>

				    <mat-option value="Dell 27&quot; Monitor - U2717D / w Display, Mini Display cables">Dell 27" Monitor - U2717D / w Display, Mini Display cables
				    </mat-option>

				  </mat-select>
				</mat-form-field>
		</div>
<!-- END CODE BLOCK: Monitor. -->

<!-- CLIENT says that printer is no longer a dropdown menu. Just a checkbox now. -->
		<br>
          <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.printerBox"> 
            <label>Printer:</label>  
         </mat-checkbox>
         <br>

         <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.ipDeskPhoneBox"> 
            <label>IP Desk Phone:</label>  
         </mat-checkbox>
<!-- CODE BLOCK: for ip Desk Phone dropdown menu. -->
			<div *ngIf="SubFormData.ipDeskPhoneBox">
				<mat-form-field>
				  <mat-select [(value)]="SubFormData.ipDeskPhoneInput" placeholder ="choose phone">
				    <mat-option value="Cisco 8841">Cisco 8841</mat-option>
				    <mat-option value="Cisco 8851 with Expansion Module">Cisco 8851 with Expansion Module</mat-option>
				  </mat-select>
				</mat-form-field>


			</div>
<!-- END CODE BLOCK: for IP Desk Phone dropdown menu. -->
         <br>

          <mat-checkbox class="example-margin" [(ngModel)]="SubFormData.otherBox"> 
            <label>Other:</label>  
         </mat-checkbox>
         	<!-- Text field that appears when "Other" is checked.-->
         		<div *ngIf="SubFormData.otherBox">
         			<mat-form-field class="example-form">
						<input matInput placeholder="Type 'Other' here" [(ngModel)]="SubFormData.otherInput">
					</mat-form-field>
         		</div>
         <br>
	</div> 
<!-- END 2nd code block(main) for hardware provisioning. -->


<!-- CODE BLOCK: Paragraph for "Standard CoSA Software" needed. MOVE. IN WRONG SPOT. -->
	<div *ngIf="SubFormData.provSoftware || SubFormData.provHardware">	
		<h3> Standard CoSA Software</h3>
		<p>
			With the purchase of New hardware components, the Standard CoSA Software Image will be included. Software items which are bundled in the standard image will be registered, licensed, and certified. Any New hardware components(s) that is/are replacing Existing hardware component(s) and all assigned licensed software will be transferred over to the New hardware component tocomplete the standard image.<br> 

			<br>
			The Standard CoSA SOftware bundle consists of (M/S Windows O/S, Office suit, Server CAL, PowerPoint CAL and M/S Exchange CAL) at an estimated cost of $695.<br>
			
			<br>
			If something other than the standard package is required/desired, please indicate that below. Additional information may be added to clarify how and on which hardware component(s) non-standard images are to be distributed. An Exception to Policy form may also be required for final approval.<br>
		</p>

		<mat-checkbox class="example-margin" [(ngModel)]="SubFormData.softwareOtherBox"> 
            <label>Something <b> OTHER THAN</b> Standard CoSA Software(OS) Image requested.</label>
         </mat-checkbox>
			<div *ngIf="SubFormData.softwareOtherBox">
				<mat-form-field class="example-form">
					<input matInput placeholder="Type 'Something Other Than' request" [(ngModel)]="SubFormData.softwareOtherInput">
				</mat-form-field>
			</div>
	</div>
<!-- END BLOCK. End of paragraph + checkbox and input field. -->
	<div *ngIf="SubFormData.provSoftware">
		
		<h3>Software</h3>
		<p>Enter any/all information related to the software that is to be acquired. Use the <b> Add</b> button to place additional rows to this section, then select the software requested, and to whom the software will be assigned. The quantity will always be 1. <br>

		<br>
		<b> CLICK ADD TO REQUEST SOFTWARE. This must be done for every item(including the first one). </b>
		</p>

		<!-- Dynamic table for the software stuff-->
		<table style="width:100%;"> 
			<tr> 

				<th>
					Software Categoy
				</th>

				<th>
					Software Descrpition
				</th>

				<th>
					SAP/Logon ID
				</th>

				<th>
					Qty
				</th>

				<th>
					<button (click)="addSoftware()">
						Add 
					</button>
				</th>
			</tr>

			<tr *ngFor="let softItem of SubFormData.specialSoftware">

				<td>
					Specialized Software
				</td>

				<td>
					<!-- software descirption is a DROPDOWN menu. -->

					<mat-form-field >
					  <mat-select [(value)]="softItem.softDesc" placeholder="Choose software">
					    <mat-option value="Adobe Pro Subscription">Adobe Pro Subscription</mat-option>
					    <mat-option value="Adobe Creative Suite Subscription">Adobe Creative Suite Subscription</mat-option>
					    <mat-option value="MS Visio Standard">MS Visio Standard</mat-option>
					    <mat-option value="MS Project Standard">MS Project Standard</mat-option>
					    <mat-option value="Adobe Photoshop">Adobe Photoshop</mat-option>
					    <mat-option value="Exchange Resource Mailbox">Exchange Resource Mailbox</mat-option>
					    <mat-option value="Prezi Pro - Presentation">Prezi Pro - Presentation</mat-option>
					    <mat-option value="Adobe Acrobat Pro - DC">Adobe Acrobat Pro - DC</mat-option>
					    <mat-option value="Adobe InDesign Subscription">Adobe InDesign Subscription</mat-option>
					    <mat-option value="VMware Fusion Professional">VMware Fusion Professional</mat-option>
					  </mat-select>
					</mat-form-field>


					<!-- END dropdown menu. -->
				</td>

				<td>
					<mat-form-field>
						<input matInput placeholder="LogonID" [(ngModel)]="softItem.loginID">
					</mat-form-field>
				</td>

				<td>
					1
				</td>

				<td>
					<button (click)="delete(softItem)">
						Delete
					</button>
				</td>
			</tr>

		</table>
	</div> <!-- END of the software table requests. -->



    <br>

	<br>
	<button mat-stroked-button color="warn" (click)="verifySubForm();" *ngIf="!SubFormData.Completed">
		Verify SubForm
	</button>
	<button mat-stroked-button [style.color]="'forestgreen'" *ngIf="SubFormData.Completed" disabled>
		SubForm Verified
	</button>

	<br>
	<div style="color:red;" *ngFor="let item of ERROR" >
		{{item}}
		<br>
	</div>

</div> <!-- End main container. -->


