<!-- <button mat-raised-button (click)="itsdDEPT();" color="primary">
	ITSD
</button>
<button mat-raised-button (click)="adminDEPT();" color="primary">
	ADMIN
</button> -->

<div align="center" *ngIf="department != null">
	<mat-card style="min-width:500px;max-width:25%;">
		<mat-card-title>
			{{department.DEPTNAME}} Department
		</mat-card-title>
		<p>
		  Department ID: {{department.dID}}<br>
		  Department Code: {{department.DEPTCODE}}<br>
		 <!--  <mat-slide-toggle  [(ngModel)]="department.isFulfillment" [checked]="department.isFulfillment"> Is this a Fulfilment Department</mat-slide-toggle> -->
		  {{department.isFulfillment}}
		</p>
		<button mat-raised-button [routerLink]="['/form/']" color="primary">
			New Requisition Form
		</button>
	</mat-card>
</div>

<div *ngIf="department != null">
	<div *ngIf="department.isFulfillment">
		<mat-card>
			<mat-card-title>
				Fullfillment Requests
			</mat-card-title>
			<mat-expansion-panel expanded="true">
				<mat-expansion-panel-header>
					<h3>Pending</h3>
				</mat-expansion-panel-header>
				<br>
				<table>
					<tr>
						<th align="left">
							Requisition Information
						</th>
						<th align="right">
							Actions&nbsp; 
						</th>
					</tr>
					<tr *ngFor="let form of departmentIN">
						<td *ngIf="form.Status == 'Approved' || form.Status == 'In-Progress'">
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>
										Status: {{form.Status}}
									</mat-panel-title>
								</mat-expansion-panel-header>
								<app-view-status [FormData]="form" [mode]="'DEPTFUL'" [DEPT]="department.dID" [status]="Pending"></app-view-status>
								
							</mat-expansion-panel>
						</td>
						<td align="right" width="30%" *ngIf="form.Status == 'Approved' || form.Status == 'In-Progress'">
							<button mat-raised-button color="accent" *ngIf="form.Status == 'Approved'" (click)="markInProgress(form);">
								Mark In-Progress
							</button>
							<button mat-raised-button color="accent" *ngIf="form.Status == 'In-Progress'" (click)="markFulfilled(form);">
								Mark Fufilled
							</button>
						</td>							
					</tr>
				</table>
				<br>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<h3>Completed</h3>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<br>
				<table>
					<tr>
						<th align="left">
							Requisition Information
						</th>
					</tr>
					<tr *ngFor="let form of departmentIN">
						<td *ngIf="form.Status == 'Fulfilled'">
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>
										Status: {{form.Status}}
									</mat-panel-title>
								</mat-expansion-panel-header>
								<app-view-status [FormData]="form" [mode]="'DEPTFUL'" [DEPT]="department.dID" [status]="OTHER"></app-view-status>

							</mat-expansion-panel>
						</td>
					</tr>
				</table>
				<br>
			</mat-expansion-panel>
		</mat-card>







		<mat-card>
			<mat-card-title>
				Requisition Requests
			</mat-card-title>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<h3>Pending</h3>
				</mat-expansion-panel-header>
				<br>
				<table>
					<tr>
						<th align="left">
							Requisition Information
						</th>
					</tr>
					<tr *ngFor="let form of departmentOUT">
						<td *ngIf="form.Status != 'FulFilled'">
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>
										Status: {{form.Status}}
									</mat-panel-title>
								</mat-expansion-panel-header>

								<app-view-status [FormData]="form" [mode]="'DEPTREQ'"></app-view-status>
								<app-view-status [FormData]="form" [mode]="'DEPTFUL'"></app-view-status>
							</mat-expansion-panel>
						</td>				
					</tr>
				</table>
				<br>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<h3>Completed</h3>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<br>
				<table>
					<tr>
						<th align="left">
							Requisition Information
						</th>
					</tr>
					<tr *ngFor="let form of departmentOUT">
						<td *ngIf="form.Status == 'FulFilled'">
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>
										Status: {{form.Status}}
									</mat-panel-title>
								</mat-expansion-panel-header>
								<app-view-status [FormData]="form" [mode]="'DEPTREQ'"></app-view-status>
								<app-view-status [FormData]="form" [mode]="'DEPTFUL'"></app-view-status>
							</mat-expansion-panel>
						</td>
					</tr>
				</table>
				<br>
			</mat-expansion-panel>
		</mat-card>
	</div>

	<div *ngIf="!department.isFulfillment">
		<mat-card>
			<mat-card-title>
				Requisition Requests
			</mat-card-title>
			<mat-expansion-panel expanded="false">
				<mat-expansion-panel-header>
					<h3>Pending</h3>
				</mat-expansion-panel-header>
				<br>
				<table>
					<tr>
						<th align="left">
							Requisition Information
						</th>
					</tr>
					<tr *ngFor="let form of departmentOUT">
						<td *ngIf="form.Status != 'FulFilled'">
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>
										Status: {{form.Status}}
									</mat-panel-title>
								</mat-expansion-panel-header>

								<app-view-status [FormData]="form" [mode]="'DEPTREQ'"></app-view-status>
								<app-view-status [FormData]="form" [mode]="'DEPTFUL'"></app-view-status>
							</mat-expansion-panel>
						</td>				
					</tr>
				</table>
				<br>
			</mat-expansion-panel>

			<mat-expansion-panel expanded="false">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<h3>Completed</h3>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<br>
				<table>
					<tr>
						<th align="left">
							Requisition Information
						</th>
					</tr>
					<tr *ngFor="let form of departmentOUT">
						<td *ngIf="form.Status == 'FulFilled'">
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>
										Status: {{form.Status}}
									</mat-panel-title>
								</mat-expansion-panel-header>
								<app-view-status [FormData]="form" [mode]="'DEPTREQ'"></app-view-status>
								<app-view-status [FormData]="form" [mode]="'DEPTFUL'"></app-view-status>
							</mat-expansion-panel>
						</td>
					</tr>
				</table>
				<br>
			</mat-expansion-panel>
		</mat-card>
	</div>
</div>



