<p>
  department works!<br>
  Department ID: {{DID}}<br>
  <mat-slide-toggle [(ngModel)]="isFulfilmentDepartment"> Is this a Fulfilment Department</mat-slide-toggle>
</p>
<div *ngIf="isFulfilmentDepartment">
	<mat-card>
		<mat-card-title>
			Pending Requisitions
		</mat-card-title>
		<mat-card-content>
			
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>
			Completed Requisitions
		</mat-card-title>
		<mat-card-content>
			
		</mat-card-content>
	</mat-card>
	<div class="newFormButtonFancy" align="right" valign="bottom">
		<button mat-fab matTooltip="New Form" matTooltipPosition="left" [routerLink]="['/form/']" color="primary" >
			<mat-icon>add</mat-icon>
		</button>
	</div>

</div>

<div *ngIf="!isFulfilmentDepartment">
	<button mat-raised-button [routerLink]="['/form/']" color="primary">
		New Requisition Form
	</button>

</div>

