<div *ngIf="value != undefined">
		
	<h4>Requisition Information</h4>
	<mat-form-field class="thirds">
		<mat-select [(ngModel)]="value.requestingDepartment" placeholder="Requesting Department">
			<mat-option *ngFor="let dept of departments" [value]='dept.code'>{{dept.dept}}</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field class="thirds">
	    <input matInput placeholder="Division" [(ngModel)]="value.division" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="thirds">
	    <input matInput placeholder="Department Requestor" [(ngModel)]="value.departmentRequestor" autocomplete="off">
	</mat-form-field>
	<br>
	<mat-form-field class="tenth">
	    <input matInput placeholder="Phone Ext." [(ngModel)]="value.firstName" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="thirds">
		<input matInput [matDatepicker]="picker" placeholder="Choose a date"
				[(ngModel)]="value.date">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>


	<h4>Personnel Information</h4>
	<mat-form-field class="thirds">
	    <input matInput placeholder="First Name" [(ngModel)]="value.firstName" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="tenth">
	    <input matInput placeholder="MI" [(ngModel)]="value.middleInitial" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="thirds">
	    <input matInput placeholder="Last Name" [(ngModel)]="value.lastName" autocomplete="off">
	</mat-form-field>
	<br>
	<mat-form-field class="thirds">
	    <input matInput placeholder="Job Title" [(ngModel)]="value.jobTitle" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="thirds">
	    <input matInput placeholder="SAP #" [(ngModel)]="value.sap" autocomplete="off">
	</mat-form-field>
	<br>



	<br>
	<button mat-stroked-button color="warn" (click)="verifySubForm();" *ngIf="!value.Completed">
		Verify SubForm
	</button>
	<button mat-stroked-button [style.color]="'forestgreen'" *ngIf="value.Completed" disabled>
		SubForm Verified
	</button>
</div>