
<mat-card *ngIf="SubFormData != null">
	<mat-card-title>
		{{SubFormData.FormName}} Data View
	</mat-card-title>
	<mat-card-content>
  <table>
		<tr>
			<td colspan ="2" align="center">
				<h4>
					Request Types
				</h4>
			</td>
		</tr>
		<tr>
			<td>
				ID
			</td>
			<td>
				{{SubFormData.idCard}}
			</td>
		</tr>
		<tr>
			<td>
				Facility Access
			</td>
			<td>
				{{SubFormData.facilityAccess}}
			</td>
		</tr>
		<tr>
			<td>
				CJIS
			</td>
			<td>
				{{SubFormData.cjis}}
			</td>
		</tr>
    <tr>
			<td>
				Facility Access Change
			</td>
			<td>
				{{SubFormData.facilityAccess}}
			</td>
		</tr>
		<tr>
			<td>
				Re-Issue ID Card
			</td>
			<td>
				{{SubFormData.reIssueCard}}
			</td>
		</tr>
		<tr>
		<td colspan="2" align="center">
		<h4>
			Personnel Information
		</h4>
	</td>
</tr>
<tr>
	<td>
		Job Status
	</td>
	<td>
		{{SubFormData.jobStatus}}
	</td>
</tr>
<tr>
	<td>
		Work Phone Number
	</td>
	<td>
		{{SubFormData.workPhone}}
	</td>
</tr>
<tr>
	<td>
		Contact Phone Number
	</td>
	<td>
		{{SubFormData.contactPhone}}
	</td>
</tr>
<tr>
	<td colspan="2" align = center>
		<h4>
			Facility Access Information (if CoSA Facility Access is checked)
		</h4>
	</td>
  </tr>
	<tr>
		<td>
			Facility Name
		</td>
		<td>
			{{SubFormData.facilityName}}
		</td>
	</tr>
	<tr>
		<td>
			Facility Address
		</td>
		<td>
			{{SubFormData.facilityAddr}}
		</td>
	</tr>
	<tr>
		<td>
			Facility Entry
		</td>
		<td>
			{{SubFormData.facilityEntry}}
		</td>
  </tr>
	<tr>
		<td>
			Suite Entry
		</td>
		<td>
			{{SubFormData.suiteEntry}}
		</td>
	</tr>
	<tr>
		<td>
			Room Entry
		</td>
		<td>
			{{SubFormData.roomEntry}}
		</td>
	</tr>
	<tr>
		<td>
			Other
		</td>
		<td>
			{{SubFormData.other}}
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<h4>
				Contractor/Vendor Information (if Job Status is Contractor or vendor)
			</h4>
		</td>
	</tr>
	<tr>
		<td>
			Company Name
		</td>
		<td>
			{{SubFormData.companyName}}
		</td>
	</tr>
  <tr>
		<td>
			Point of Contact Name
		</td>
		<td>
			{{SubFormData.pocName}}
		</td>
	</tr>
	<tr>
		<td>
		Contact Number
	</td>
	<td>
		{{SubFormData.contactNum}}
	</td>
	</tr>
	<tr>
		<td>
			Contract Number
		</td>
		<td>
			{{SubFormData.contractNum}}
		</td>
	</tr>
	<tr>
		<td>
			Contract Expiration Date
		</td>
		<td>
			{{SubFormData.contractExp}}
		</td>
	</tr>
	<br>
	<br>

	</table>



	</mat-card-content>
</mat-card>
