<div *ngIf="SubFormData != undefined">
	<mat-radio-group [(ngModel)]="SubFormData.reqType">
		<p>
			<b>Request Type:</b>
		</p>
		<mat-radio-button value="1">Provision User</mat-radio-button>
		<mat-radio-button value="2">Disable User Account</mat-radio-button>
	</mat-radio-group>

	<!--
	User Provisioning
	- User Type         : Radio Button
	- Date of Hire      : Input (dependent on Usr. Type)
	- User Name         : Input
	- Emp SAP #         : Input
	- Work Location     : Input
	- Device Assignment : Radio Button
	- Device Asset #    : Input (dependent on Dev. Assign.)
	- Phone Assignment  : Radio Button x2
	-->
	<h3>User Provisioning</h3>

	<mat-radio-group [(ngModel)]="SubFormData.userType">
		<mat-radio-button value="New">New</mat-radio-button>
		<mat-radio-button value="Transfer">Transfer</mat-radio-button>
		<mat-radio-button value="Rehire">Rehire</mat-radio-button>
		<mat-radio-button value="CoSA Temp/Inter">CoSA Temp/Inter</mat-radio-button>
	</mat-radio-group>

	<br>

	<mat-form-field class="thirds">
		<input matInput [matDatepicker]="picker" placeholder="Date of Hire"
				[(ngModel)]="SubFormData.dtOfHire">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<mat-form-field class="thirds">
		<input matInput placeholder="Work Location" [(ngModel)]="SubFormData.workLoc">
	</mat-form-field>
	<br>

	<b><u>Device Assigntment:</u></b> *Is an existing device being assigned to this user?
	<br>
	<mat-radio-group [(ngModel)]="SubFormData.deviceAssign">
		<mat-radio-button value="true">Yes</mat-radio-button>
		<mat-radio-button value="false">No</mat-radio-button>
	</mat-radio-group>

	<mat-form-field class="thirds">
	<input matInput placeholder="Device Asset #" [(ngModel)]="SubFormData.deviceAssetNr">
	</mat-form-field>
	<br>
	<br>
	<p><b><u>Phone Assigntment:</u></b> *Will you be assigning an existing Cisco IP phone and Extension?</p>
	<mat-radio-group [(ngModel)]="SubFormData.phoneAssign">
		<mat-radio-button value="true">Yes</mat-radio-button>
		<mat-radio-button value="false">No</mat-radio-button>
	</mat-radio-group>
	<br>
	<br>
	<p>*Does this employee extension need to be set up as a Service Center Agent or Supervisor?</p>
	<mat-radio-group [(ngModel)]="SubFormData.phoneAssign2">
		<mat-radio-button value="true">Yes</mat-radio-button>
		<mat-radio-button value="false">No</mat-radio-button>
	</mat-radio-group>

	<!--
	User Access
	- Home Drive                 : Checkbox
	- Dept. Share Drive          : Checkbox
	- Email                      : Checkbox
	- Name                       : Input
	- SAP#                       : Input
	- Additional Requirements x2 : Checkbox x2 + Input
	- Mainframe Acces x 2        : Checkbox x2 + Input
	-->
	<h3><b><br>User Access</b></h3>

	<mat-checkbox [(ngModel)]="SubFormData.homeDr">Home Drive(H)</mat-checkbox>
	<mat-checkbox [(ngModel)]="SubFormData.deptShareDr">Department Share Drive(K)</mat-checkbox>
	<mat-checkbox [(ngModel)]="SubFormData.email">Email</mat-checkbox>
	<br>

	<mat-form-field class="thirds">
	<input matInput placeholder="Name" [(ngModel)]="SubFormData.name">
	</mat-form-field>
	<mat-form-field class="thirds">
	<input matInput placeholder="SAP #" [(ngModel)]="SubFormData.sapNr">
	</mat-form-field>
	<p><b>
	Note: for SAP Roles, please coordinate those requirements with your <br>
	designated Department Access Provision Specialist.
	</b></p>

	<mat-checkbox [(ngModel)]="SubFormData.addReq">
		Additional requirements (<i>Shared folders, Distributed Lists, etc.</i>)
	</mat-checkbox>
	<br>

	<mat-form-field class="thirds">
	<input matInput placeholder="requirements go here" [(ngModel)]="SubFormData.addReqText">
	</mat-form-field>

	<br>
	<mat-checkbox [(ngModel)]="SubFormData.mfAccess">
		Mainframe Access
		(<i>Id needing access to an application within the mainframe, please list</i>)
	</mat-checkbox>
	<br>
	<mat-form-field class="thirds">
		<input matInput placeholder="Mainrame Information Here" [(ngModel)]="SubFormData.mfText">
	</mat-form-field>

	<!--
	<mat-form-field>
		<input matInput placeholder="Phone Ext:" [(ngModel)]="SubForm.phoneExt">
	</mat-form-field>
	<p> {{SubForm.phoneExt}} </p>
-->
	
	<br>
	<button mat-stroked-button color="warn" (click)="verifySubForm();" *ngIf="!SubFormData.Completed">
		Verify SubForm
	</button>
	<button mat-stroked-button [style.color]="'forestgreen'" *ngIf="SubFormData.Completed" disabled>
		SubForm Verified
	</button>

</div>

