.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
	margin-right: 2%;
}

.thirds{
	margin:5px;
	width:30%;
}

mat-radio-button{
	margin:5px;
}

mat-checkbox{
	margin:5px;
}

.example-full-width {
  width: 100%;
}

.example-margin {
  margin: 0 10px;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
  padding-left:  16px;
}