<div *ngIf="SubFormData != undefined">
	<mat-radio-group [(ngModel)]="SubFormData.reqType">
		<p>
			<b>Request Type:</b>
		</p>
		<mat-radio-button value="Provision User">Provision User</mat-radio-button>
		<mat-radio-button value="Disable User Account">Disable User Account</mat-radio-button>
	</mat-radio-group>

	<!-- 'Provision User' ONLY fields. -->
	<div *ngIf="SubFormData.reqType == 'Provision User'">
		<!--
		User Provisioning
		- User Type         : Radio Button
		- Date of Hire      : Input (dependent on Usr. Type)
		- User Name         : Input
		- Emp SAP #         : Input
		- Work Location     : Input
		- Device Assignment : Radio Button
		- Device Asset #    : Input (dependent on Dev. Assign.)
		- Phone Assignment  : Radio Button x2
		-->
		<h3>User Provisioning</h3>

		<mat-radio-group [(ngModel)]="SubFormData.userType">
			<mat-radio-button value="New">New</mat-radio-button>
			<mat-radio-button value="Transfer">Transfer</mat-radio-button>
			<mat-radio-button value="Rehire">Rehire</mat-radio-button>
			<mat-radio-button value="CoSA Temp/Inter">CoSA Temp/Inter</mat-radio-button>
		</mat-radio-group>
		<!-- Date of Hire-->
		<mat-form-field class="thirds">
			<input matInput [matDatepicker]="picker" placeholder="Date of Hire"
					[(ngModel)]="SubFormData.dtOfHire">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
		<!-- end -->
		<mat-form-field class="thirds">
			<input matInput placeholder="Work Location" [(ngModel)]="SubFormData.workLoc">
		</mat-form-field>


		<br>
		<b><u>Device Assigntment:</u></b> *Is an existing device being assigned to this user?
		<br>
		<mat-radio-group [(ngModel)]="SubFormData.deviceAssign">
			<mat-radio-button value=true>Yes</mat-radio-button>
			<mat-radio-button value=false>No</mat-radio-button>
		</mat-radio-group>

		<mat-form-field class="example-form" *ngIf="SubFormData.deviceAssign == 'true'">
			<input matInput placeholder="Device Asset #" [(ngModel)]="SubFormData.deviceAssetNr">
		</mat-form-field> 

		<!-- PHone stuff. -->
		<p><b><u>Phone Assignment:</u></b> *Will you be assigning an existing Cisco IP phone and Extension?</p>
		<mat-radio-group [(ngModel)]="SubFormData.phoneAssign">
			<mat-radio-button value=true>Yes</mat-radio-button>
			<mat-radio-button value=false>No</mat-radio-button>
		</mat-radio-group>
		<!-- Phone ONLY reactive fields.  -->
		<div *ngIf="SubFormData.phoneAssign == 'true'">
			<label><b>Please provide the following: </b></label> <br>
			<mat-form-field class="example-margin"> 
				<input matInput placeholder="*Phone Ext:" [(ngModel)]="SubFormData.phoneExt">
			</mat-form-field>	

			<mat-form-field class="example-margin"> 
				<input matInput placeholder="*MAC Addr:" [(ngModel)]="SubFormData.macAddr">
			</mat-form-field>

			<mat-form-field class="example-margin"> 
				<input matInput placeholder="*Serial Nr:" [(ngModel)]="SubFormData.serialNr">
			</mat-form-field>	
			<p><b><i>Note:</i> New VMX will be included w/reassignment.</b> </p>	
		</div>
		<!-- END phone reactive fields. -->
		<!-- Service Center Agent or Supervisor FIELDS> -->
		<p>*Does this employee extension need to be set up as a Service Center Agent or Supervisor?</p>
		<mat-radio-group [(ngModel)]="SubFormData.phoneAssign2">
			<mat-radio-button value=true>Yes</mat-radio-button>
			<mat-radio-button value=false>No</mat-radio-button>
		</mat-radio-group>

		<mat-form-field class="example-full-width" *ngIf="SubFormData.phoneAssign2 == 'true'">
			<input matInput placeholder="*Name of the contact Service Center for which the user needs to be provisioned." 
			[(ngModel)]="SubFormData.contactServiceName">
		</mat-form-field>
		<!-- END Service Center stuff. -->

		<!-- User Access-->
		<!--
		User Access
		- Home Drive                 : Checkbox
		- Dept. Share Drive          : Checkbox
		- Email                      : Checkbox
		- Name                       : Input
		- SAP#                       : Input
		- Additional Requirements x2 : Checkbox x2 + Input
		- Mainframe Acces x 2        : Checkbox x2 + Input
		-->
		<h3><b><br>User Access</b></h3>
		<mat-checkbox [(ngModel)]="SubFormData.homeDr">Home Drive(H)</mat-checkbox>
		<mat-checkbox [(ngModel)]="SubFormData.deptShareDr">Department Share Drive(K)</mat-checkbox>
		<br>

		<mat-checkbox [(ngModel)]="SubFormData.email">Email</mat-checkbox> <i>(Provide the name of previous position holder)</i>
		<mat-form-field class="thirds">
			<input matInput placeholder="Name" [(ngModel)]="SubFormData.name">
		</mat-form-field>

		<!-- 
		<mat-form-field class="thirds">
			<input matInput placeholder="SAP #" [(ngModel)]="SubFormData.sapNr">
		</mat-form-field>
		-->

		<p><b> 	Note: for SAP Roles, please coordinate those requirements with your <br>
		designated Department Access Provision Specialist.
		</b></p>

		<!-- Final checkboxes + reactive fields-->
		<mat-checkbox [(ngModel)]="SubFormData.addReq">
			Additional requirements (<i>Shared folders, Distributed Lists, etc.</i>)
		</mat-checkbox>
		<br>

		<mat-form-field class="example-form" *ngIf="SubFormData.addReq">
			<input matInput placeholder="Requirements?" [(ngModel)]="SubFormData.addReqText">
		</mat-form-field>

		<br>
		<mat-checkbox [(ngModel)]="SubFormData.mfAccess">
			Mainframe Access
			(<i>If needing access to an application within the mainframe, please list</i>)
		</mat-checkbox>
		<br>
		<mat-form-field class="example-form" *ngIf="SubFormData.mfAccess">
			<input matInput placeholder="Mainrame Information Here" [(ngModel)]="SubFormData.mfText">
		</mat-form-field>
	</div> <!-- END reactive fields for 'Provision User'-->

	<!-- Reactive Fields for 'Disable User Account'. -->
	<div *ngIf="SubFormData.reqType == 'Disable User Account'">
		<h3>Disable User Account <i><b>(Resignation/Retirement/Leave of Absence)</b></i> </h3>
		<!-- not sure if need it or not. 
		<mat-form-field class="thirds">
			<input matInput placeholder="User Name" [(ngModel)]="SubFormData.name">
		</mat-form-field>
		-->

		<mat-form-field class="example-margin">
			<input matInput placeholder="*Logon ID" [(ngModel)]="SubFormData.logonID"> 
		</mat-form-field>

		<!--
		<mat-form-field class="example-margin">
			<input matInput placeholder="*SAP #:" [(ngModel)]="SubFormData.sapNr"> 
		</mat-form-field>
		-->
		
		<mat-form-field class="thirds">
			<input matInput [matDatepicker]="picker2" placeholder="Separation Date"
					[(ngModel)]="SubFormData.separationDate">
			<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
			<mat-datepicker #picker2></mat-datepicker>
		</mat-form-field>
	</div><!--END reactive fields for 'Disable User Account ' -->
	<!--
	<mat-form-field>
		<input matInput placeholder="Phone Ext:" [(ngModel)]="SubForm.phoneExt">
	</mat-form-field>
	<p> {{SubForm.phoneExt}} </p>
-->
	
	<br>
	<button mat-stroked-button color="warn" (click)="verifySubForm();" *ngIf="!SubFormData.Completed">
		Verify SubForm
	</button>
	<button mat-stroked-button [style.color]="'forestgreen'" *ngIf="SubFormData.Completed" disabled>
		SubForm Verified
	</button>
	<br>
	<!-- 
		<button mat-stroked-button color="warn" (click)="verifySubForm();" *ngIf="!SubFormData.Completed">
		Verify SubForm
	</button>
	-->

	<div style="color:red;" *ngFor="let item of ERROR" >
		{{item}}
		<br>
	</div>

</div>

