<mat-card *ngIf="SubFormData != null">
	<mat-card-title>
		{{SubFormData.FormName}} Data View
	</mat-card-title>

	<!-- Main Table. -->
	<mat-card-content>
		<table *ngIf="SubFormData.reqType == 'Provision User' || SubFormData.reqType == 'Disable User Account'">
			<tr>
			<td colspan ="2" align="center">
				<h4>
					Request 
				</h4>
			</td>
			</tr>

			<!-- ONLY for 'Provision user'-->
			<tr *ngIf="SubFormData.reqType == 'Provision User'">
				<td> Request Type: </td>
				<td> {{SubFormData.reqType}} </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'">
				<td colspan = "2" align= "center">
					<h4>
						User Provisioning
					</h4>
				</td>
	    	</tr>

	    	<tr *ngIf="SubFormData.reqType == 'Provision User'">
	    		<td>Provision Type: </td>
	    		<td> {{SubFormData.userType}} </td>
	    	</tr>

	    	<tr *ngIf="SubFormData.reqType == 'Provision User'">
				<td> Date of Hire: </td>
				<td> {{SubFormData.dtOfHire}} </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'">
				<td> Work Location: </td>
				<td> {{SubFormData.workLoc}} </td>
			</tr>
			<!-- Provision User: Device reactive fields.-->
			<tr *ngIf="SubFormData.reqType == 'Provision User' 
				&& SubFormData.deviceAssign == 'true'">
				<td> Device Assignment? </td>
				<td> Yes </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User' 
				&& SubFormData.deviceAssign == 'true'">
				<td> Device Asset #: </td>
				<td> {{SubFormData.deviceAssetNr}} </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User' 
				&& SubFormData.deviceAssign == 'false'">
				<td> Device Assignment? </td>
				<td> No </td>
			</tr>
			<!-- END Provision User: Device reactive fields. -->

			<!-- Provision User: Phone reactive fields. -->
			<tr *ngIf="SubFormData.phoneAssign == 'true'">
				<td> Phone Assignment? </td>
				<td> Yes </td>
			</tr>

			<tr *ngIf="SubFormData.phoneAssign == 'true'">
				<td> Phone Ext: </td>
				<td> {{SubFormData.phoneExt}} </td>
			</tr>

			<tr *ngIf="SubFormData.phoneAssign == 'true'">
				<td> Mac Address: </td>
				<td> {{SubFormData.macAddr}} </td>
			</tr>

			<tr *ngIf="SubFormData.phoneAssign == 'true'">
				<td> Serial Number: </td>
				<td> {{SubFormData.serialNr}} </td>
			</tr>

	    	<tr *ngIf="SubFormData.phoneAssign == 'false'">
				<td> Phone Assignment? </td>
				<td> No </td>
			</tr>
			<!-- END Provision User: Phone reactive fields. -->
			<tr *ngIf="SubFormData.phoneAssign2 == 'true'">
				<td>Set up as a Service Center Agent or Supervisor? </td> 
				<td> Yes </td>
			</tr>

			<tr *ngIf="SubFormData.phoneAssign2 == 'true'">
				<td> Name of the contact Service Center:  </td> 
				<td> {{SubFormData.contactServiceName}} </td>
			</tr>

			<tr *ngIf="SubFormData.phoneAssign2 == 'false'">
				<td>Set up as a Service Center Agent or Supervisor? </td> 
				<td> No </td>
			</tr>

			<!-- Provision User: User Access -->
			<tr *ngIf="SubFormData.reqType == 'Provision User'">
				<td colspan ="2" align="center">
					<h4>
						User Acess 
					</h4>
				</td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			 && SubFormData.homeDr"> 
			 	<td> Home Drive(H)? </td>
			 	<td> Yes </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			 && !SubFormData.homeDr"> 
			 	<td> Home Drive(H)? </td>
			 	<td> No </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			 && SubFormData.deptShareDr"> 
			 	<td> Department Share Drive(K)? </td>
			 	<td> Yes </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			 && !SubFormData.deptShareDr"> 
			 	<td> Department Share Drive(K)? </td>
			 	<td> No </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			 && SubFormData.email"> 
			 	<td> Email? </td>
			 	<td> Yes </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			 && SubFormData.email"> 
			 	<td> Name of Previous Position Holder: </td>
			 	<td> {{SubFormData.name}} </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			 && !SubFormData.email"> 
			 	<td> Email? </td>
			 	<td> No </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			&& SubFormData.addReq">
				<td>Additional Requirements? </td> 
				<td> Yes </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			&& SubFormData.addReq">
				<td> Requirements: </td> 
				<td> {{SubFormData.addReqText}} </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			&& !SubFormData.addReq">
				<td>Additional Requirements? </td> 
				<td> No </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			&& SubFormData.mfAccess"> 
				<td> Mainframe Access? </td>
				<td> Yes </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			&& SubFormData.mfAccess"> 
				<td> Mainframe Information: </td>
				<td> {{SubFormData.mfText}} </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Provision User'
			&& !SubFormData.mfAccess"> 
				<td> Mainframe Acess? </td>
				<td> No </td>
			</tr>
	    	<!-- END for 'Provision User' (code block). -->


			<!-- ONLY for 'Disable User Account' -->
			<tr *ngIf="SubFormData.reqType == 'Disable User Account'">
				<td> Request Type: </td>
				<td> {{SubFormData.reqType}} </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Disable User Account'">
				<td> Logon ID: </td>
				<td> {{SubFormData.logonID}} </td>
			</tr>

			<tr *ngIf="SubFormData.reqType == 'Disable User Account'">
				<td> Separation Date: </td>
				<td> {{SubFormData.separationDate}} </td>
			</tr>
			<!-- END 'Disable User' Fields. -->

		</table>
	</mat-card-content>
</mat-card>
