<table>
	<tr>
		<td width="30%" valign="top">
			<mat-card align="center">
				<mat-card-title>
					User Profile
				</mat-card-title>
				<mat-card-content>
					<table *ngIf="employee != null">
						<tr>
							<td align="left">
								User ID: 
							</td>
							<td align="right">
								{{employee.SAP}}
							</td>
						</tr>
						<tr>&nbsp;</tr>
						<tr>
							<td align="left">
								Name: 
							</td>
							<td align="right">
								{{employee.FIRSTNAME}} {{employee.MI}} {{employee.LASTNAME}}
							</td>
						</tr>
						<tr>&nbsp;</tr>
						<tr>
							<td align="left">
								Department: 
							</td>
							<td align="right">
								{{employee.DEPT}}
							</td>
						</tr>
						<tr>&nbsp;</tr>
						<tr>
							<td align="left">
								Position: 
							</td>
							<td align="right">
								{{employee.POSIT}}
							</td>
						</tr>
						<tr>&nbsp;</tr>
						<tr>
							<td align="left">
								E-Mail: 
							</td>
							<td align="right">
								{{employee.EMAIL}}
							</td>
						</tr>
					</table>
					<br>
					<br>
					To Edit this information please contact your System Administrator
					
				</mat-card-content>
			</mat-card>
		</td>
		<td>
			<mat-card>
				<mat-card-title>
					Requisition Requests
				</mat-card-title>
				<mat-expansion-panel expanded="true">
					<mat-expansion-panel-header>
						Pending
					</mat-expansion-panel-header>
					<br>
					<table>
						<tr>
							<th align="left">
								Requisition Information
							</th>
							<th align="right">
								Actions&nbsp; 
							</th>
						</tr>
						<tr>
							<td>
								<mat-expansion-panel>
									<mat-expansion-panel-header>
										<mat-panel-title>
											Statuses
										</mat-panel-title>
									</mat-expansion-panel-header>
								</mat-expansion-panel>
							</td>
							<td align="right">
								<button mat-raised-button color="primary" >
									Review
								</button>
								<button mat-raised-button color="primary" >
									Sign
								</button>
							</td>							
						</tr>
					</table>
					<br>
				</mat-expansion-panel>

				<mat-expansion-panel expanded="false">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Completed
						</mat-panel-title>
					</mat-expansion-panel-header>
					<br>
					<table>
						<tr>
							<th align="left">
								Requisition Information
							</th>
							<th align="right">
								Actions&nbsp; 
							</th>
						</tr>
						<tr>
							<td>
								<mat-expansion-panel>
									<mat-expansion-panel-header>
										<mat-panel-title>
											Status
										</mat-panel-title>
									</mat-expansion-panel-header>
								</mat-expansion-panel>
							</td>
							<td align="right">
								<button mat-raised-button color="primary" >
									Review
								</button>
							</td>
						</tr>
					</table>
					<br>
				</mat-expansion-panel>
			</mat-card>
		</td>
	</tr>
</table>

<!-- 
 
  [style.background-color]="'grey'" -->