<p>
  user works!<br>
  User ID: {{UID}}
</p>

<table>
	<tr>
		<td rowspan="2" class="userProfile">
			<mat-card>
				<mat-card-title>
					User Profile
				</mat-card-title>
				<mat-card-content>
					
				</mat-card-content>
			</mat-card>
		</td>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>
			<mat-card>
				<mat-card-title>
					Pending Approvals
				</mat-card-title>
				<mat-card-content>
					
				</mat-card-content>
			</mat-card>
		</td>
	</tr>
	<tr>
		<td>
			
		</td>
		<td>
			<mat-card>
				<mat-card-title>
					Completed Approvals
				</mat-card-title>
				<mat-card-content>
					
				</mat-card-content>
			</mat-card>
		</td>
	</tr>
</table>

