<div align="center">
	<mat-card>
		<mat-card-title>Temporary User Login Page</mat-card-title>
		<mat-card-content>
			<p>
				This is a tempoarary solution untill we have<br>
				a proper User Login Page either as a Dummy<br>
				or through a test system.
			</p>
		</mat-card-content>
		<mat-card-footer>
			<button mat-raised-button [routerLink]="['/department/0']" color="primary">
				Department Page
			</button>
			<button mat-raised-button [routerLink]="['/form']" color="primary">
				The Master Form Page
			</button>
			<button mat-raised-button  [routerLink]="['/user/0']" color="primary">
				User Page
			</button>
		</mat-card-footer>
	</mat-card>
</div>
